body {
    background-color: #535657;
    color: #F4FAFF;
}

h1 {
    color: #DEE7E7;
}

a {
    color: #B7ADCF;
}

.header {
    display: flex;
    justify-content: center;
}

.container {
    margin: 2em;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-button {
    margin:0 auto;
    display:block;
}